# Mac OS
*.DS_Store

# Backups
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Permissions files: 
ncap_iac/utils/policies
ncap_iac/user_profiles/*
!ncap_iac/user_profiles/*/user_config_template.json

# Build files: 
ncap_iac/ncap_blueprints/*/.aws-sam/build/*
ncap_iac/user_profiles/*/.aws-sam/build/*
ncap_iac/ncap_blueprints/*/*
!ncap_iac/ncap_blueprints/*/stack_config_template.json
!ncap_iac/ncap_blueprints/*/test_resources
!ncap_iac/ncap_blueprints/iac_utils
!ncap_iac/ncap_blueprints/utils_stack
!ncap_iac/ncap_blueprints/__init__.py
ncap_iac/ncap_blueprints/*/compiled_template.json
ncap_iac/ncap_blueprints/*/compiled_packaged.yaml
ncap_iac/user_profiles/*/compiled_users.json
ncap_iac/user_profiles/*/.aws-sam/
ncap_iac/user_profiles/*/compiled_users.yaml
docs/build
!docs/source
!docs/devguide.md
!docs/Makefile
!docs/make.bat
!docs/images/
!docs/NeuroCAAS_Developer_Guide.pdf
cost_investigation/*
paper/
tests/protocol_tests/test_mats/
tests/unit_tests/fixture_dir/
website_resources/

# external media files
media/*
